
{% extends "Snippets/base.html" %}
{% block content %}
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <nav class="navbar navbar-light justify-content-between" style="padding:24px 10%;">
      <h3 class="" style="color:#b1b1b1;font-family: cursive;">
        Posts by Aemie &nbsp;
      </h3>
      <form action="{% url 'search-posts' %}" method="get" class="form-inline" style="padding-right:10%;">
        <input 
          class="form-control mr-sm-2" 
          type="search" 
          placeholder="Search" aria-label="Search"
          name="q"
        >
      </form>
    </nav>

    {% for post in posts %}
      <div  style="padding:10px 10%;"> 
        <article class="Media content-section">
          <div class="row no-gutters">
            <div class="col-lg-3 pt-3">
              <div class="card" style="height: 10rem;">
                <img  src="{{ MEDIA_URL }}{{ post.img.url }}" alt="Card image" style="height:10rem; width:100%;">
                <a href="#" class="btn btn-link stretched-link"></a>
              </div>
            </div>
            <div class="col-lg-8 pt-3">
              <div class="card" style="height: 10rem;">
                <div style="padding:8px 20px">
                <a href="{% url 'post-detail' post.id %}" style="text-decoration: none;" class="viewbutton article-title" id="view{{ post.id }}"
                data-catid="{{ post.id }}"><h2>{{ post.title }}</h2></a>
                <p class="article-content">{{ post.content|truncatechars:150 }}</p>
                <hr style="margin:0.4em auto;">
                <div class="article-metadata" >
                  <a class="mr-2" href="{% url 'user-posts' post.author.username %}" style="text-decoration: none;">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date|date:"F d, Y"}}</small>
                  {% if post.author == user %}
                  <a href="{% url 'post-delete' post.id %}" style="float:right;text-decoration:none;">Delete &nbsp;</a> 
                  <a href="{% url 'post-update' post.id %}" style="float:right;text-decoration:none;">Update &nbsp;</a> 
                  {% endif %}

                  {% if post.author != user %}
                      <a style="text-decoration: none;font-size:19px;float:right" class="likebutton" id="like{{ post.id }}" href="#"
                        data-catid="{{ post.id }}"> &#9825;
                        {% for like in likes %}
                        {% ifequal post.id like.post %}
                        <small>{{like.post_count}}</small>
                        {% endifequal %}
                        {% endfor %}
                      </a>
                      <a style="text-decoration: none;font-size:19px;float:right" href="#"><i style="font-size:17px;" class="fas">&#xf06e;</i>
                        {% for view in views %}
                        {% ifequal post.id view.post %}
                        <small>{{view.post_view}}</small>
                        {% endifequal %}
                        {% endfor %} &nbsp; &nbsp;
                      </a>
                  {% endif %}
                </div>
              </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    {% endfor %}

    
    <br>
    <div class="Row-paginate" style="padding:10px 10%;">
      {% if is_paginated%}
          <div class="Column-paginate text-left">
          {% if page_obj.has_previous %}
              <!--<a class = "btn btn-outline-secondary mb-4" href="?page=1" style="text-decoration:none;">First &nbsp;</a>-->
              <a  href="?page={{page_obj.previous_page_number}}" style="text-decoration:none;font-size:200%;"> &laquo; </a>
          {% endif%}
          </div>

          <div class="Column-paginate text-center">
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <a class = "btn btn-primary mb-4" href="?page={{num}} " style="text-decoration:none;">{{num}} &nbsp;</a>

            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2'%}
            <a class = "btn btn-outline-secondary mb-4" href="?page={{num}} " style="text-decoration:none;">{{num}} &nbsp;</a>
            {% endif %}

          {% endfor %}
          </div>

          <div class="Column-paginate text-right">
          {% if page_obj.has_next %}
              <a  href="?page={{ page_obj.next_page_number}}" style="text-decoration:none;font-size:200%;"> &raquo; </a>
              <!--<a class = "btn btn-outline-secondary mb-4" href="?page={{page_obj.paginator.num_pages}}" style="text-decoration:none;">Last</a>-->
          {% endif%}
          </div>

    {% endif %}
    </div>

    <script type="text/javascript">
      $('.viewbutton').click(function () {
          var id;

          id = $(this).attr("data-catid");
          $.ajax(
              {
                  type: "GET",
                  url: "/view/",
                  data: {
                      post_id: id,

                  },
                  success: function (data) {
                      $('#message').text(data);
                  }
              })
              document.location.reload(true);
      });
    </script>
{% endblock content %}

